html, body {
    height: 100%;
}

body {
    padding: 6vh 7vw;
}

.cover {
    background-color: black;
    height: calc(100% + 8vh);
    width: calc(100% + 8vw);
    margin-top: -4vh;
    margin-left: -4vw;
    padding: 40% 10%;
}

.cover h3 {
    color: white;
    text-align: center;
}

.rotate {
    display: none;
}

/* Bootstrap Changes */

.btn {
    border-radius: 0;
    border-width: 3px;
}

/* Frame */

.frame {
    border: 2px solid black;
    height: 80vh;
}

/* Carousel */

.slide {
    width: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 2%;
}

.carousel-icon-invert {
    filter: invert();
}

/* Shared */

#about-page, #work-page, #contact-page {
    padding-top: 5vh;
}

.header h1 {
    background-color: white;
    display: inline;
    margin-left: 5vh;
}

#about-page h1, #work-page h1, #contact-page h1 {
    padding: 0 1.5vh;
    margin-top: -.5vh;
    margin-bottom: 0;
}

.content {
    height: 66vh;
}

/* Name Page */

#home-page {
    background-image: url('coding-screen.jpg');
    background-size: cover;
    background-position: center;
    padding: 20vh 0 0 8vh;
}

#home-page h3 {
    margin-top: 1.5vh;
    margin-bottom: 2vh;
}

#view-work-button {
    padding: 1vh 2vh;
}

/* About Page */

#about-page .header {
    background-image: linear-gradient(to right, #49A8A4, #80D3D0);
}

#about-content {
    padding: 5vh 6vh;
}

#about-content .col-3, .headshot {
    padding-left: 0!important;
    padding-right: 0!important;
}

#headshot {
    background-image: url('headshot.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    box-shadow: 3px 3px 8px grey;
}

#about-picture-paragraph {
    height: 100%;
    margin-bottom: 4vh;
}

#about-paragraph-right h3, #about-paragraph-right h6 {
    margin-bottom: 1.5vh;
}

#about-paragraph {
    padding-left: 2vw;
    padding-right: .5vw;
}

#about-page .hl {
    background-color: #49A8A4;
}

#skills-title {
    margin-left: -.4vw;
    padding-left: 0!important;
    padding-right: 0px!important;
}

#skills-list {
    padding-left: 0px!important;
    padding-right: 0!important;
}

#skills-list h4 {
    width: 130%;
    margin-bottom: 8.5vh;
}

#skills h3 {
    padding-right: 2vh;
    border-right: 5px solid #49A8A4;
}

#skills h4 {
    padding-left: 1.5vh;
}

#about-paragraph-right .hl {
    height: 5px;
    width: 60%;
}

#about-paragraph-right img {
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 10vh;
}

#devices {
    margin-bottom: 0!important;
}

#magnifying-glass {
   height: 9vh!important;
}

/* Work */

#work-page .header {
    background-image: linear-gradient(to right, #DE7676, #EA9999);
}

#work-content {
    padding: 7vh 3vw 8vh 3vw;
}

.project-column {
    padding: 0 3vh;
}

.project-column img {
    width: 100%;
    height: 29vh;
    object-fit: cover;
    object-position: top;
    box-shadow: 3px 3px 8px grey;
    margin-bottom: 4vh;
}

.project-column h5 {
    margin-top: 1vh;
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
}

#overlay h6 {
    margin-top: .8rem;
    margin-bottom: 1.6rem;
}

#overlay .btn {
    border-radius: 30px;
    margin-bottom: 20px;
}

#overlay span {
    margin-top: auto;
}

#overlay {
    position: absolute;
    width: calc(100.3% - 6vh);
    height: 100%;
    top: 0; 
    left: 3vh;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    box-shadow: 3px 3px 8px grey;
    z-index: 2;
    padding: 1.5vh 1.5vw;
    overflow-y: auto;
}

#work-page .hl {
    height: 5px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #4A4A4A;
}

/* Contact */

#contact-page .header {
    background-image: linear-gradient(to right, #E1C26F, #F2E2A8);
}

#contact-content {
    padding: 6vh 6.5vh;
    display: flex;
    flex-flow: column;
}

#contact-info-col {
    padding-left: 0;
    padding-right: 0;
}

#contact-top {
    flex: 1 1 auto;
}

#contact-info-container-left {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    /* This needs to match the padding left of item below */
    padding-right: 2vw;
}

#contact-info-container-right .row {
    /* This needs to match the padding right of item above */
    padding-left: 2vw;
    width: 130%;
}

#contact-info-container-right {
    padding-left: 2vw;
}

#contact-info-container-right {
    border-left: 5px solid #4A4A4A;
    padding-top: 1vh;
    padding-bottom: 5vh;
    padding-right: 0!important;
}

.contact-type {
    color: #E1C26F;
}

#contact-info-container-right i {
    margin-bottom: 2vh;
    margin-right: 1vw;
}

#contact-page i {
    color: #4A4A4A;
}


#on-the-move {
    padding-right: 0;
    border-bottom: 5px solid #4A4A4A;
    margin-left: auto;
}

#contact-bottom h5 {
    margin: 1.5vh 0 0 0;
    padding: 0;
}

#phone-number a, #email a {
    text-decoration: none!important;
    color: #4A4A4A!important;
}

/* Menu */

.menu {
    padding-top: 3vh;
}

.menu-item a {
    color: #4A4A4A;
    text-decoration: none;
}

.home-menu-active h4, .home-menu-active i {
    color: green!important;
}

.about-menu-active h4, .about-menu-active i {
    color: #49A8A4!important;
}

.work-menu-active h4, .work-menu-active i {
    color: #DE7676!important;
}

.contact-menu-active h4, .contact-menu-active i {
    color: #E1C26F!important;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p { color: #4A4A4A; }

h1 { font-size: 12vh; }

h2 { font-size: 5.8vh; }

h3 { font-size: 4vh; }

h4 { font-size: 2.2vh; }

h5 { font-size: 2.2vh; }

h6 { font-size: 1.9vh; }

p { font-size: 2vh; }

.name {
    font-size: 14vh;
    line-height: 12vh;
}

#about-content h3 { font-size: 3.3vh }

#view-work-button {
    font-size: 2.5vh;
}

#about-paragraph h5 {
    font-size: 1.2vw!important;
    line-height: 4vh!important;
}

#about-paragraph .btn {
    font-size: 1vw!important;
}

#overlay h6, #overlay .btn  {
    font-size: .8rem!important;
}

#contact-info-container-right button {
    font-size: 2vh;
}

#on-the-move i {
    font-size: 6vh;
}

#contact-info-container-right i {
    font-size: 5vh;
}

#home-page h3, #about-paragraph, #about-paragraph-right h6, #skills h4,
.project-column h5, #overlay h6, #overlay .btn, .contact-data, #contact-bottom h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.btn, #contact-info-container-left h2, .contact-type, #on-the-move h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.menu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#about-page h1, #work-page h1, #contact-page h1,
.name, #about-paragraph-right h3, #skills h3, .project-column h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 800;
}

#about-page h1, #work-page h1, #contact-page h1 {
    line-height: 9vh;
}

#skills h3 {
    line-height: 4.5vh;
}

#skills h4 {
    line-height: 4.7vh;
}

#overlay h6, #overlay .btn  {
    line-height: 1.6rem;
}

#contact-page h2 {
    line-height: 7vh;
}

#about-paragraph-right h3, #skills h3,
#on-the-move, #contact-bottom h5 {
    text-align: right;
}

.project-column, .menu-item {
    text-align: center;
}

.name, #home-page h3 {
    color: white;
}

#overlay h6 {
    color: white!important;
}